.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 25vh;
    margin-top: 70px;
}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    margin-top: 10px;
    width: 500px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: flex;
    gap: 0px;
    height: 70vh;
    width: 90%;
    padding: 0px 100px;
}

.description{
    font-size: 30px;
    background-color: #252525;
}

.description p{
    color: #fff;
    margin-left: 60px;
    margin-top: 100px;
    margin-right: 40px;
    line-height: 60px;
}
